<!-- signin.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
  <div class="container">
    <h1>LOG IN</h1>
    <p th:if="${param.error}" class="error-msg">아이디 또는 비밀번호가 잘못되었습니다.</p>
    <form th:action="@{/signin}" method="post" th:object="${signinRequest}">
      <input type="text" th:field="*{userId}" placeholder="ID" style="color: white;">
      <input type="password" th:field="*{password}" placeholder="Password" style="color: white;">
      <button style="cursor: pointer" type="submit">Sign In</button>
    </form>


    <p>Don't have an account? <a th:href="@{/signup}">Sign Up</a></p>
  </div>
</div>
</body>
</html>