<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Moodlink 관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/admin/contents.css}">
</head>
<body>
<main layout:fragment="content">
  <div class="layout">
    <!-- 왼쪽 메뉴 -->
    <div class="menu">
      <a href="movies">영화</a>
      <a href="music">음악</a>
      <a class="active" href="books">도서</a>
    </div>

    <!-- 오른쪽 콘텐츠 -->
    <div class="main-contents">
      <a class="add-btn" href="books/add">+ 추가</a>
      <!-- 데이터 존재 시 -->
      <div th:if="${books != null and #lists.size(books) > 0}">
        <div th:each="book : ${books}" class="item-card">
          <img th:src="@{${book.image}}" alt="썸네일">
          <div class="item-info">
            <span style="font-weight: bold" th:text="${book.title + ' (' + #temporals.format(book.publishedDate, 'yyyy.MM.dd') + ')'}">
            제목 (발매일)
            </span>
            <div>작가: <span th:text="${book.author}">작가</span></div>
            <div>장르: <span th:text="${book.genre}">장르</span></div>
            <div>설명: <span th:text="${book.description}">설명</span></div>
          </div>
          <div class="item-buttons">
            <a th:href="@{'/admin/books/modify/'+${book.isbn}}">수정</a>
            <a>삭제</a>
          </div>
        </div>
      </div>

      <!-- 비어있을 때 -->
      <div th:if="${books == null or #lists.isEmpty(books)}" class="empty-message">
        등록된 항목이 없습니다.
      </div>

      <div class="pagination" th:if="${totalPages > 1}">
        <span class="active">1</span>
        <a href="#">2</a>
        <a href="#">3</a>
        <span>…</span>
        <a href="#" th:text="${totalPages}">68</a>
      </div>
    </div>
  </div>
</main>
</body>
</html>
