<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Moodlink 관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/admin/contents.css}">
</head>
<body>
<main layout:fragment="content">
  <div class="layout">
    <!-- 왼쪽 메뉴 -->
    <div class="menu">
      <a class="active" href="movies">영화</a>
      <a href="music">음악</a>
      <a href="books">도서</a>
    </div>

    <!-- 오른쪽 콘텐츠 -->
    <div class="main-contents">
      <a class="add-btn" href="movies/add">+ 추가</a>
      <!-- 데이터 존재 시 -->
      <div th:if="${page.content() != null}">
        <div th:each="movie : ${page.content()}" class="item-card">
          <img th:src="@{${movie.thumbnail}}" alt="썸네일">
          <div class="item-info">
            <span style="font-weight: bold" th:text="${movie.title + ' (' + #temporals.format(movie.releaseDate, 'yyyy.MM.dd') + ')'}">
            제목 (발매일)
            </span>
            <div>
              장르:
              <span th:each="genre : ${movie.genres}" style="display: inline-block; margin-right: 5px;" th:text="${genre.name}">장르</span>
            </div>
            <div>설명: <span class="description-text" th:text="${movie.description}">설명</span></div>
          </div>
          <div class="item-buttons">
            <a th:href="@{'/admin/movies/modify/'+${movie.id}}">수정</a>
            <a class="delete-btn" th:attr="data-id=${movie.id}">삭제</a>
          </div>
        </div>
      </div>

      <!-- 비어있을 때 -->
      <div th:if="${page.content() == null}" class="empty-message">
        등록된 항목이 없습니다.
      </div>

      <div class="pagination" th:insert="~{fragments :: frg_pagination}"></div>
    </div>
  </div>
</main>
<div layout:fragment="scripts">
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".delete-btn")
      .forEach((btn) => {
        btn.addEventListener("click", async function (event) {
          event.preventDefault();

          const id = btn.dataset.id;
          const url = `http://localhost:8080/api/admin/movies/delete/${id}`;
          const response = await fetch(
              url, {
                method: 'DELETE'
              });

          if (response) {
            alert("정상적으로 삭제되었습니다.");
            window.location.reload();
          } else {
            alert("문제가 발생하였습니다.")
          }
        });
      });
    });
  </script>
</div>
</body>

</html>
