<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">


<body>


<div layout:fragment="content">
  <h3>좋아요 목록</h3>

  <div>
    <button class="mypage-btn" onclick="loadTab('books')">
      도서
    </button>
    <button class="mypage-btn" onclick="loadTab('movies')">
      영화
    </button>
    <button class="mypage-btn" onclick="loadTab('musics')">
      음악
    </button>


  </div>
  <div id="books" class="like-item">
    <h2>도서</h2>
    <table>
      <thead>
      <tr>
        <th>제목</th>
        <th>ISBN</th>
        <th>이미지</th>
        <th>저자</th>
        <th>출판사</th>
        <th>출판일</th>
        <th>장르</th>
        <th>설명</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${likedbooks}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td><img th:src="${book.image}" class="image" width="100"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.publishedDate}"></td>
        <td th:text="${book.genre}"></td>
        <td th:text="${book.description}"></td>
      </tr>
      </tbody>
    </table>
  </div>


  <div id="movies" class="like-item">
    <h2>영화</h2>
    <table>
      <thead>
      <tr>
        <th>제목</th>
        <th>썸네일</th>
        <th>설명</th>
        <th>장르</th>
        <th>개봉일</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="movie : ${likedmovies}">
        <td th:text="${movie.title}"></td>
        <td><img th:src="${movie.thumbnail}" class="image" width="100"></td>
        <td th:text="${movie.description}"></td>
        <td>
          <ul>
            <li th:each="genre : ${movie.genres}" th:text="${genre.name}"></li>
          </ul>
        </td>
        <td th:text="${movie.releaseDate}"></td>

      </tr>
      </tbody>
    </table>
  </div>
  <div id="musics" class="like-item">
    <h2>음악</h2>
    <table>
      <thead>
      <tr>
        <th>제목</th>
        <th>썸네일</th>
        <th>가수</th>
        <th>장르</th>
        <th>설명</th>
        <th>가사</th>
        <th>발매일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="music : ${likedmusics}">
        <td th:text="${music.title}"></td>
        <td><img th:src="${music.thumbnail}" class="image" width="100"></td>
        <td th:text="${music.singer}"></td>
        <td th:text="${music.genre}"></td>
        <td th:text="${music.description}"></td>
        <td th:text="${music.lyrics}"></td>
        <td th:text="${music.releaseDate}"></td>
      </tr>
      </tbody>
    </table>
  </div>


  <script>

    function loadTab(tabName) {

      const tabItems = document.querySelectorAll('.like-item');
      tabItems.forEach(item => item.style.display = 'none');

      const selectedTab = document.getElementById(tabName);
      selectedTab.style.display = 'block';
    }

    document.addEventListener("DOMContentLoaded", function () {
      loadTab('books');
    });
  </script>


</body>
</html>