<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<body>
<div layout:fragment="content">
  <script th:inline="javascript" th:if="${error}">
    /*<![CDATA[*/
    if ([[${error != null}]]) {
      alert(/*[[${error}]]*/);
    }
    /*]]>*/
  </script>
<h2 th:text="'아이디:'+${userId}" >아이디</h2>
<form th:action="@{/users/modify}" method="post">
<h2 th:text="'유저이름:'+${username}">유저이름</h2>
  <label>이름:</label><br/>
  <input type="text" name="username" placeholder="변경할 유저 이름 입력"><br/><br/>

  <label>비밀번호:</label><br/>
  <input type="password" name="currentPassword" placeholder="현재 비밀번호" required />
  <input type="password" name="newPassword" placeholder="변경할 비밀번호 입력"><br/><br/>

<button type="submit" class="mypage-btn">
  제출
</button>

  </form>


</div>
</body>



</html>


