main {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

/* 돌아가기 버튼 */
.back-btn {
  margin-left: 2rem;
  background: linear-gradient(to right, #A64DFF, #6A00FF);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
}

/* form-section이 중앙에 오도록 하는 영역 */
.main-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  width: 1000px;
  max-width: 95vw;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.info-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.image-upload {
  text-align: center;
  flex-shrink: 0;
}

.image-preview {
  width: 140px;
  height: 180px;
  background-color: #ccc;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.form-row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin-top: 1rem;
}

.form-row label {
  width: 70px;
  margin-right: 1rem;
  text-align: right;
}

.input-line {
  flex: 1;
  border: none;
  border-bottom: 1px solid #666;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
}

.genre-list {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.genre-btn {
  background: linear-gradient(to right, #A64DFF, #6A00FF);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: bold;
}

.genre-btn.selected {
  outline: 2px solid white;
}

.selected-genres {
  color: #aaa;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

select{
  display: flex;
}

select.input-line {
  width: 90%;
  margin-left: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: transparent;
  color: #A64DFF;
  border: none;
  border-bottom: 1px solid #666;
  appearance: none; /* 브라우저 기본 화살표 제거 (선택사항) */
}

select.input-line:focus {
  border-bottom: 2px solid #A64DFF;
  outline: none;
}


.textarea {
  width: 100%;
  height: 150px;
  margin-top: 1rem;
  resize: none;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  background-color: #111;
  color: white;
}

.textarea:focus {
  outline: 2px solid #A64DFF;
}

.submit-btn {
  margin-top: 2rem;
  font-size: 1.1rem;
  width: 200px;
  background: linear-gradient(to right, #A64DFF, #6A00FF);
  border: none;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 9999px;
  cursor: pointer;
}