<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지 - 도서 수정</title>
  <link rel="stylesheet" th:href="@{/css/admin/contents-add.css}">
  <style>
    html, body {
      height: 100%;
      overflow: hidden; /* 전체 페이지 스크롤 막기 */
      margin: 0;
      padding: 0;
    }

    .container{
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 100vw;
      overflow-y: auto;
      margin-top: 80px;
      height: 100vh;
    }
    .container::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>
<main layout:fragment="content">
  <div class="container">
    <!-- 돌아가기 버튼 -->
    <a class="back-btn" th:href="@{/admin/books}">← 돌아가기</a>

    <!-- 중앙 배치 form -->
    <div class="main-area">
      <form th:action="@{'/admin/books/modify/'+${book.isbn}}" th:object="${bookModifyRequest}"
            method="post" enctype="multipart/form-data">
        <div class="form-section">
          <h3>도서 정보를 입력해주세요.</h3>

          <div class="info-group">
            <div class="image-upload">
              <div id="preview" class="image-preview"
                   th:style="'background-image: url(' + ${book.image} + ');'"></div>
              <input type="file" id="image-input" name="image" style="display:none"/>
              <div id="sizeInfo"></div>
              <button class="img-btn" type="button"
                      onclick="document.getElementById('image-input').click()">이미지 추가
              </button>
            </div>


            <div>
              <div class="form-row"><label>제목</label>
                <div th:text="${book.title}"></div>
                <a class="delete-btn" th:attr="data-isbn=${book.isbn}">삭제</a></div>
              <div class="form-row"><label>작가</label>
                <div th:text="${book.author}"></div>
              </div>
              <div class="form-row"><label>발행일</label><input th:field="*{publishedDate}"
                                                             th:value="${#temporals.format(publishedDate, 'yyyy-MM-dd')}"
                                                             class="input-line" type="date"/></div>
              <div class="form-row"><label>출판사</label><input th:field="*{publisher}"
                                                             class="input-line" type="text"/></div>
            </div>
          </div>

          <div class="form-row" style="flex-direction: column; align-items: flex-start;">
            <label>장르</label>
            <select th:field="*{genre}" class="input-line">
              <option disabled selected value="">장르 선택</option>
              <option th:each="gen : ${genres}"
                      th:value="${gen}"
                      th:text="${gen}">
              </option>
            </select>
          </div>

          <div class="form-row" style="flex-direction: column; align-items: flex-start; width: 100%;">
            <label>설명</label>
            <textarea th:field="*{description}" class="textarea"></textarea>
            <span class="helper-text form-row"
                  th:if="${fieldErrors != null and fieldErrors.containsKey('description')}"
                  th:text="${fieldErrors.description}"></span>
          </div>

          <button class="submit-btn" type="submit" name="action">등록</button>
        </div>
      </form>
    </div>
    <br><br><br><br><br><br>
  </div>
</main>
<div layout:fragment="scripts">
  <script>
    // 이미지 미리보기
    const input = document.getElementById('image-input');
    const preview = document.getElementById('preview');
    input.addEventListener('change', function () {
      let totalSize = 0;
      const file = this.files[0];
      if (file) {
        totalSize += file.size;

        const sizeInMB = (totalSize / (1024 * 1024)).toFixed(2);
        document.getElementById("sizeInfo").innerText = `총 파일 용량: ${sizeInMB} MB`;

        if (totalSize > 32 * 1024 * 1024) {
          alert("이미지 총 용량은 32MB를 초과할 수 없습니다.");
          this.value = ""; // 파일 초기화
        }

        const reader = new FileReader();
        reader.onload = e => preview.style.backgroundImage = `url(${e.target.result})`;
        reader.readAsDataURL(file);
      }
    });
    document.addEventListener("DOMContentLoaded", function () {
      document.querySelectorAll(".delete-btn")
      .forEach((btn) => {
        btn.addEventListener("click", async function (event) {
          event.preventDefault();

          const confirmed = confirm("정말 삭제하시겠습니까?");

          if (confirmed) {

            const isbn = btn.dataset.isbn;
            const url = `http://localhost:8080/api/admin/books/delete/${isbn}`;
            const response = await fetch(
                url, {
                  method: 'DELETE'
                });

            if (response) {
              alert("정상적으로 삭제되었습니다.");
            } else {
              alert("문제가 발생하였습니다.")
            }
            window.location.href = "/admin/books";
          }
        });
      });
    });
  </script>
</div>

</html>
