<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Moodlink 관리자 페이지</title>
  <link rel="stylesheet" th:href="@{/css/admin/contents.css}">
  <style>
    html, body {
      height: 100%;
      overflow: hidden; /* 전체 페이지 스크롤 막기 */
      margin: 0;
      padding: 0;
    }

    .container{
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 100vw;
      overflow-y: auto;
      margin-top: 80px;
      height: calc(100vh - 80px);
    }
    .container::-webkit-scrollbar {
      display: none;
    }
  </style>
</head>
<body>
<main layout:fragment="content">
  <div class="container">
    <!-- 컨트롤러에서 넘어오는 에러를 담음 -->
    <div style="display: none" id="for-alert" th:if="${error != null}" th:text="${error}"></div>
    <div class="layout">
      <!-- 왼쪽 메뉴 -->
      <div class="admin-menu">
        <a href="movies">영화</a>
        <a href="music">음악</a>
        <a class="active" href="books">도서</a>
        <a href="genres">장르</a>
      </div>

      <!-- 오른쪽 콘텐츠 -->
      <div class="main-contents">
        <div style="display: flex;">
          <a class="add-btn" href="books/add">+ 추가</a>
          <button style="margin-left: 1rem" class="add-btn" onclick="generateRecommend()">추천 결과 업데이트 하기</button>
        </div>
        <!-- 데이터 존재 시 -->

        <div class="item-grid" th:if="${page.content() != null}">
          <div th:each="book : ${page.content()}">
            <div class="item-card"
                 th:attr="data-isbn=${book.isbn}">
              <div class="item-thumbnail">
                <img th:src="${book.image}" alt="썸네일"
                     style="width: 100%; height: 100%; object-fit: cover;"/>
              </div>
              <div class="item-details">
                <div class="item-title" th:text="${book.title}">제목</div>
                <div class="item-meta"><span th:text="${book.author}">작가</span></div>
              </div>
            </div>
          </div>
        </div>

        <!-- 비어있을 때 -->
        <div th:if="${page.content() == null}" class="empty-message">
          등록된 항목이 없습니다.
        </div>

        <div class="pagination" th:insert="~{fragments :: frg_pagination}"></div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>
</main>
<div layout:fragment="scripts">
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    // 클릭 시 수정 페이지로
    document.querySelectorAll(".item-card").forEach((card) => {
      card.style.cursor = 'pointer';
      card.addEventListener('click', () => {
        const isbn = card.dataset.isbn;
        if (isbn) {
          window.location.href = `/admin/books/modify/${isbn}`;
        }
      });
    });

    // 에러 메시지 알림 기능
    const errorDiv = document.getElementById('for-alert');
    if (errorDiv && errorDiv.textContent.trim() !== "") {
    alert(errorDiv.textContent.trim());
  }
  });

  function generateRecommend(){
    fetch(`http://localhost:8080/api/admin/recommend`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
    })
    .then(res => {
      if (res.ok) {
        alert("배치 잡이 실행되었습니다.")
      } else {
        alert("오류가 발생하였습니다.")
      }
    })
  }
  </script>
</div>
</body>

</html>
