<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>검색 결과</title>
  <style>
    .search-result-container {
      max-width: 1100px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      font-family: 'Noto Sans KR', sans-serif;
    }

    .main-content {
      margin-top: 70px;
      justify-items: center;
    }

    .search-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 35px;
    }

    .category {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      margin-top: 30px;
      flex-wrap: wrap;
    }
  </style>
</head>
<body>

<main layout:fragment="content" class="search-result-container">

    <div class="main-content">

      <div class="search-container">
        <form id="searchForm" th:action="@{/search}" method="get">
          <input type="text" id="search-input" name="contentName" placeholder="원하는 음악,영화,도서를 찾아보세요!">
          <button type="submit">검색</button>
        </form>
      </div>

      <br>

      <!-- 카테고리 메뉴 -->
      <div class="menu">
        <button onclick="showCategory('movie')">🎬 영화</button>
        <button onclick="showCategory('music')">🎧 음악</button>
        <button onclick="showCategory('book')">📚 도서</button>
      </div>

  <!-- contentName 이 비었을 때 -->
  <h4 th:if="${#strings.isEmpty(contentName)}">전체 검색결과입니다.</h4>

  <!-- contentName 이 있을 때 -->
  <h4 th:unless="${#strings.isEmpty(contentName)}">
    "<span th:text="${contentName}"></span>" 에 대한 검색결과입니다.
  </h4>

      <!--  모달창html-->
      <div id="modals-container"></div>

  <!-- 영화 -->
  <div class="category" id="movie">
    <div id = movieGenre>
      동화
      라이트노벨
      무협소설
      수필
      스릴러
      시집
      추리소설
      판타지소설
      프로그래밍
      인문학
      심리학
      철학
      문화인류학
      종교학
      한국소설
      외국소설
      고전문학
      현대문학
      사회학

    </div>
<!--    <h3><span class="highlight">영화</span> 검색 결과</h3>  -->
    <div th:if="${movie.size() > 0}" class="card-container">
      <div th:each="m : ${movie}" class="card-movie">
        <button type="button"
                class="details-btn"
                data-type="movies"
                th:attr="data-id=${m.id}">
          <img th:src="${m.thumbnail}" alt="영화 썸네일" class="card-thumbnail"/>
        </button>
      </div>
    </div><br><br><br><br>
    <div th:if="${movie.size() == 0}"><h4>검색 자료가 없습니다.</h4></div>
  </div>
  <div class="category" id="music">
    발라드
    댄스
    힙합
    R&B
    인디음악
    록/메탈
    트로트
    포크/블루스

    <!--    <h3><span class="highlight">음악</span> 검색 결과</h3>-->

    <div th:if="${music.size() > 0}" class="card-container">
      <div th:each="m : ${music}" class="card-music">
        <button type="button"
                class="details-btn"
                data-type="musics"
                th:attr="data-id=${m.id}">
          <img th:src="${m.thumbnail}" alt="음악 썸네일" class="card-thumbnail"/>
        </button>
      </div>
    </div><br><br><br><br>
    <div th:if="${music.size() == 0}"><h4>검색 자료가 없습니다.</h4></div>
  </div>

  <!-- 도서 -->
  <div class="category" id="book">
    동화
    라이트노벨
    무협소설
    수필
    스릴러
    시집
    추리소설
    판타지소설
    프로그래밍
    인문학
    심리학
    철학
    문화인류학
    종교학
    한국소설
    외국소설
    고전문학
    현대문학
    사회학


    <div th:if="${book.size() > 0}" class="card-container">
      <div th:each="b : ${book}" class="card-book">
        <button type="button"
                class="details-btn"
                data-type="books"
                th:attr="data-id=${b.isbn}">
          <img th:src="${b.image}" alt="도서 썸네일" class="card-thumbnail modal-bg.book"/>
        </button>
      </div>
    </div><br><br><br><br>
    <div th:if="${music.size() == 0}"><h4>검색 자료가 없습니다.</h4></div>
  </div>

</main>
</body>
</html>

<script>


  // 모달창 html 불러오기
  fetch('/html/modals.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('modals-container').innerHTML = data;
  });

  /* 카테고리 토글 */
  function showCategory(id) {
    document.querySelectorAll('.category').forEach(c => c.style.display = 'none');
    document.getElementById(id).style.display = 'block';
  }

  document.addEventListener('DOMContentLoaded', () => showCategory('movie'));

  function searchByGenre(genre) {
    window.location.href = '/search/genre?genreName=' + encodeURIComponent(genre);
  }

</script>
<script type="module" src="/js/modal.js"></script>